@import 'appVarible';

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #707070;
    border: 2px solid #707070
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f4f6;
    font-size: 12px;
}

// sidebar
.sidenav {
    height: 100%;
    width: 211px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .icon-wrapper {
        margin-right: 20px;
        vertical-align: top;
        position: absolute;
        left: 35px;
        min-width: 15px;
        text-align: center;
        @extend %ver-align;
    }

    .sidebar-logo {
        background-color: #ffffff !important;
        padding: 1rem 0rem !important;
        text-align: center;
    }

    a {
        padding: 14px 8px 13px 68px;
        text-decoration: none;
        font-size: 14px;
        color: #888888;
        display: block;
        transition: 0.3s;
        align-items: center;
        line-height: 18px;
        position: relative;

        &:hover,
        &.active {
            color: #ffffff;
            background-color: $theme-base-color;

            .sidebar-icon {
                filter: brightness(0) invert(1) !important;
            }

            .sub-icon {
                filter: invert(30%) sepia(82%) saturate(521%) hue-rotate(103deg) brightness(130%) contrast(64%)
            }
        }
    }

    .closebtn {
        display: none;
    }
}

// navbar
.navbar-nav {
    flex-direction: row !important;
}

.navbar {
    background-color: $theme-base-color;
    padding: 12px 40px;
    align-items: center;
    left: 211px;
    box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.15);

    .nav-link {
        color: #ffffff !important;

        padding: 0px 18px !important;

        &.dropdown-toggle {
            background: transparent;
            outline: none;
            border: none;

            &:after {
                vertical-align: middle;
            }
        }

        &:focus,
        &:active {
            background-color: transparent;
            outline: none;
        }
    }

    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle,
    .btn-group,
    .btn-group:focus,
    .btn-group:active {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
        outline: none;
    }

    .dropdown-menu {
        left: auto;
        right: 0;
        position: absolute !important;

        color: #444444;
        font-size: 16px;
        font-weight: 500;
        line-height: 31.31px;
        border: none;
        border-radius: 10px;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.06);
        overflow: hidden;

        .dropdown-item {
            padding: 9px 30px;
            border-bottom: 1px solid #dee2e6;
            position: relative;

            img {
                position: absolute;
                height: 20px;
                width: auto;
                left: 10px;
                top: 17px;
            }

            &:last-child {
                border-bottom: none;
            }

            &:active,
            &:focus {
                text-decoration: bone;
                background: #fff;
                color: #444444;
            }

            &.active {
                background: #fff;
                color: #444444;
            }

            // a {
            //   display: inline-block;
            //   width: 100%;
            //   text-decoration: none;
            //   color: $app-dark-gray;
            //   &:hover,
            //   &:focus {
            //     color: $app-secondary-color;
            //   }
            // }
        }

    }

    .dropdown-toggle {
        &:after {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f078";
            border: none;
        }

        box-shadow: none !important;
        outline: none !important;
    }

    .user-img {
        border-radius: 50%;
        height: 38px;
        width: 38px;
        border: 2px solid #ffffff;
    }

    .notification-bell {
        font-size: 23px;
    }

    .side-btn {
        display: none;
        cursor: pointer
    }
}

.header-search {
    background-color: #ffffff;
    border-radius: 35px;
    width: 395px;

    .form-control {
        background-color: #fff;
        border: 0px;
        border-radius: 30px !important;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        height: 45px;
        width: 100%;
        position: relative;
        padding-left: 52px;
        line-height: 45px;
        padding-right: 122px;
        color: #303662;
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 0px;

        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: none;
        }

        &::placeholder {
            color: #A7A7A7;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .search-img {
        position: absolute;
        left: 65px;

    }

    .btn {
        border-radius: 35px;
        height: 45px;
        width: 115px;
        font-size: 14px;
        color: #ffffff;
        border-top-left-radius: 0px;
        background-color: #0E91C5 !important;
        border-color: #0E91C5 !important;
        position: absolute;
        right: 0;
        z-index: 4;

        &:focus,
        &:hover {
            background-color: #0a2753 !important;
            box-shadow: none !important;
        }

        i {
            display: none;
        }
    }

    .search-icon {
        position: absolute;
        left: 20px;
        top: 0;
        color: #A7A7A7;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 45px;
        z-index: 10;
    }

}

.notification {
    color: #ffffff;
    display: inline;
    height: 25px;
    padding: 0px;
    margin: 0 15px !important;
    margin-top: 0px;

    i.fa.fa-circle {
        top: 0px;
        font-size: 12px;
        color: #040d14;
        right: 0px;
        z-index: 1;
    }

    .dropdown-toggle {
        padding: 0px !important;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        background-color: transparent;
        border: none;
        outline: none;

        &:after {
            display: none;
        }
    }

    .nav-link {
        display: inline;
    }
}

main {
    transition: margin-left .5s;
    padding-left: 211px;
}

.app-container {
    padding-left: 17px;
    padding-bottom: 40px;
    padding-top: 89px;
    width: 100%;
    padding-right: 38px;
}

.app-breadcrumb {
    padding-left: 2px;

    .breadcrumb,
    .breadcrumb a {
        background: transparent;
        padding: 0;
        color: #707070;
    }

    .breadcrumb {
        margin-bottom: 4px;
        font-size: 16px;
    }

    .active {
        font-weight: 700;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: ">";
    }

    &.req-mar {
        margin-bottom: 16px;
    }

}

.header-note {
    font-size: 14px;
    color: $text-light-gray-color;
    margin-bottom: 15px;
}

.row.app-box-wrapper {
    margin-left: -4.5px;
    margin-right: -4.5px;

    .box-col {
        padding-left: 4.5px;
        padding-right: 4.5px;
    }
}

.app-box {
    height: 210px;
    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 9.9756px;
    position: relative;
    padding: 34px 26px;
    margin-bottom: 9px;

    &:hover {
        border-color: $theme-base-color;
    }

    .add-location {
        text-align: center;

        span {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: $theme-base-color;
        }
    }

    .app-switch.custom-switch {
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 20px;
    }

    .box-title {
        font-size: 16px;
        color: #000;
        font-weight: 700;
        margin-bottom: 6px;
    }

    p {
        color: #888888;
    }

    .btn-box {
        text-align: center;
        margin-top: 50px;

        button,
        a {
            min-width: 172px;
        }
    }

    .logo-box {
        max-width: 150px;
        margin: 0 auto;
        text-align: center;
        min-height: 78px;
    }

    .reload-btn {
        position: absolute;
        z-index: 1;
        top: 12px;
        right: 20px;
    }

    &.info-box {
        height: auto;
        margin-bottom: 0px;
        padding: 22px 42px;
        border-color: $theme-base-color;
        @extend %display-flex;
        justify-content: space-between;

        .left-box {
            .info-title {
                font-family: "DM Serif Display";
                font-size: 18px;
                color: #081F32;
            }

            padding-right: 115px;

            p {
                margin-bottom: 0px;
            }
        }

        .right-box {
            .btn-box {
                text-align: center;
                margin-top: 10px;

                .app-btn {
                    min-width: 129px;
                }
            }

            .amt-info {
                img {
                    vertical-align: top;
                    margin-right: 10px;
                    margin-top: 3px;
                }

                strong {
                    display: inline-block;
                    font-size: 18px;
                    line-height: normal;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                span {
                    font-size: 10px;
                    color: #6E798C;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }

}

.add-btn-round {
    width: 42px;
    height: 42px;
    line-height: normal;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: $theme-base-color;
    margin-bottom: 20px;
    padding: 0px;
    border: 1px solid transparent;

    i {
        line-height: 45px;
        font-size: 26px;
        color: #fff;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active {
        border: 1px solid $theme-base-color;
        background-color: transparent;

        i {
            color: $theme-base-color;
        }
    }
}

.app-switch.custom-switch {
    height: 26px;
    width: 52px;

    .custom-control-label {
        &:before {
            top: 0px;
            height: 26px;
            width: 52px;
            border-radius: 13px;
            border: none;
            background-color: #B7BCC7;
        }

        &:after {
            height: 18px;
            width: 18px;
            background: #fff;
            top: 4px;
            left: calc(-2.25rem + 4px);
            box-shadow: 1.30463px 1.30463px 3.26158px #99A1B2;
        }
    }

    .custom-control-input:checked {
        &~.custom-control-label {
            &:after {
                @include css3-prefix(transform, translateX(24px));
            }

            &:before {
                background-color: $theme-base-color;
            }
        }
    }
}

.app-btn {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    padding: 11px 20px;
    border-radius: 9.9756px;
    background-color: $theme-base-color;
    border: none;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid $theme-base-color;
        background-color: transparent;
        color: $theme-base-color;
        box-shadow: none;
    }

    &.gray-btn {
        background-color: #707070;

        &:hover,
        &:focus,
        &:active {
            border: 1px solid #707070;
            background-color: transparent;
            color: #707070;
        }
    }

    &.lightgray-btn {
        color: $text-light-gray-color;
        background-color: rgba(136, 136, 136, 0.129412);

        &:hover,
        &:focus,
        &:active {
            border: 1px solid rgba(136, 136, 136, 0.129412);
            background-color: transparent;
            color: #a4a4a4;
        }
    }

    &.small-btn {
        font-size: 11px;
        min-width: 129px;
        padding: 6px 15px;
        line-height: 17px;
    }

    &.large-btn {
        font-size: 18px;
        border-radius: 15px;
        padding: 14px 29px;
    }

    &.light-green-btn {
        background-color: #DEF8F0;
        color: $theme-base-color;
    }

    &.back-btn {
        @extend %display-flex;
        border: 1px solid transparent;
        align-items: center;
        color: #000;
        border-color: transparent;

        svg {
            fill: $theme-base-color;
            width: 8px;
            margin-right: 5px;
        }
    }

}

.app-btn-clear {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 3px;
    line-height: normal;
    box-shadow: none;
    height: auto;
    width: auto;
}

.hippa-img-box {
    height: 100%;
    padding: 25px;
}

.app-model {
    .blue-title-h6 {
        color: #040d14;
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        display: inline-block;
        text-transform: capitalize;
    }

    .modal-content {
        border-radius: 14px !important;
    }

    .modal-header {
        padding: 28px 35px;
        height: 75px;

        .close {
            font-size: 36px;
            right: 56px;
            color: #040d14;
            opacity: 1;
            line-height: 17px;

            &:focus {
                outline: none;
            }
        }
    }

    .modal-body {
        padding: 20px 36px 30px 36px;

        .gray-txt {
            color: #888888;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            font-weight: 400;
        }

        p {
            color: #040d14;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    form {
        .p-r-4 {
            padding-right: 4px;
        }

        .p-l-4 {
            padding-left: 4px;
        }

        .dropdown-toggle {
            border-radius: 29px;
            border: 2px solid #e7f0fd !important;
            font-size: 16px;
            padding: 12px 20px;
            height: 59px;
            margin-bottom: 13px;
            width: 100%;
            color: #888888 !important;
            background-color: #fff !important;
            text-align: start;

            &:after {
                display: inline-block;
                content: url(../images/arrow_down.svg) !important;
                height: 16px;
                width: 20px;
                float: right;
                border: none;
            }

            &:focus {
                box-shadow: none !important;
            }

            &:active {
                background-color: #fff !important;
                color: #888888 !important;
                border: 2px solid #e7f0fd !important;
            }
        }

        .blue-btn-bg {
            margin-top: 25px;
        }
    }

    .btn-box {
        padding: 10px 0;
        align-items: flex-start;

        .app-btn {
            text-transform: uppercase;
            width: 50%;
            margin: 0 10px;
        }
    }

    .form-group.app-ctrl {

        label {
            color: #888888;
        }

        .form-control {
            padding: 0px 0.5rem;
            padding-left: 0px;
            height: 30px;
        }
    }
}

.form-group.app-ctrl {
    margin-bottom: 23px;

    label {
        color: $theme-base-color;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0px;

        &.required {
            &:after {
                content: "*";
                color: red;
                margin-left: 3px;
            }
        }
    }

    .form-control {
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid #d0d1d3;
        font-size: 18px;
        padding: 0.5rem;
        height: 40px;
        margin-bottom: 13px;
        text-align: start;
        width: 100%;
        color: #000;
        background-color: #fff;
        padding-left: 0;
        @extend %common-transition;

        &:focus {
            box-shadow: none;
            border-bottom-color: $theme-base-color;
        }
    }

    &.has-value {
        label {
            color: $theme-base-color !important;
        }
    }
}

.white-container {
    background-color: #fff;
    border-radius: 15px;
    padding: 28px;
}

.section-header {
    font-size: 24px;
    font-weight: 700;
    color: #010000;
    position: relative;
    text-align: center;
    margin-bottom: 60px;

    &:before {
        content: "";
        display: block;
        width: 70px;
        border-bottom: 4px solid $theme-base-color;
        position: absolute;
        z-index: 1;
        bottom: -13px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.app-select {
    position: relative;
    min-width: 50px;

    &:before {
        content: "";
        position: absolute;
        padding: 3px;
        border-right: 1px solid $theme-base-color;
        border-bottom: 1px solid $theme-base-color;
        @include css3-prefix(transform, rotate(45deg));
        top: 12px;
        right: 11px;
    }

    select {
        height: 33px;
        line-height: 33px;
        padding: 0 32px 0 13px;
        font-size: 13px;
        color: $text-light-gray-color;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 10px;
        width: 100%;
        border: 1px solid #EFF1FA;
    }
}

.app-search {
    background-color: #ffffff;
    border-radius: 35px;
    min-width: 100px;

    .form-control {
        background-color: #fff;
        border: 0px;
        border-radius: 15px 30px 30px 15px !important;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        height: 31px;
        width: 100%;
        position: relative;
        padding-left: 42px;
        line-height: 31px;
        padding-right: 77px;
        color: $text-light-gray-color;
        font-size: 14px;
        border: 1px solid #EFF1FA;
    }

    .search-icon {
        position: absolute;
        left: 20px;
        top: 0;
        color: #A7A7A7;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 33px;
        z-index: 10;
    }

    .btn {
        border-radius: 10px;
        height: 31px;
        font-size: 14px;
        color: #ffffff;
        border-top-left-radius: 0px;
        background-color: $theme-base-color;
        border-color: #fff !important;
        position: absolute;
        right: 0;
        padding: 0 13px;
        z-index: 4;

        i {
            display: none;
        }

        &:hover,
        &:focus {
            background-color: #0E91C5;
        }
    }
}

.app-table {
    .table {
        margin-bottom: 0px;
    }

    thead {
        border-bottom: 1px solid #E2E7FE;

        th {
            color: $text-light-gray-color;
            font-size: 13px;
            font-weight: 500;
            vertical-align: middle;
        }
    }

    tbody {
        td {
            vertical-align: middle;
            color: #000;
            font-size: 13px;

            .action-btn {
                height: 17px;
                width: 17px;
                border: 1px solid rgba(136, 136, 136, 0.32);
                padding: 2px 0px;
                line-height: 17px;
                text-align: center;
                border-radius: 3px;
                color: rgb(155, 155, 155);
                margin-right: 15px;
                @extend %common-transition;

                &:last-child {
                    margin-right: 0px;
                }

                svg {
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    vertical-align: top;
                    @extend %common-transition;

                }

                &:hover {
                    border-color: $theme-base-color;
                    color: $theme-base-color;
                }
            }

            .pay-btn {
                font-size: 13px;
                color: $theme-base-color;
            }

            .app-badge {
                background-color: transparent;
                padding: 0px;
                min-width: auto;
                text-align: left;
            }
        }
    }
}

.app-checkbox {
    cursor: pointer;

    &.custom-checkbox .custom-control-label::before {
        border-radius: 6px;
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: $theme-base-color;
        background-color: $theme-base-color;
    }
}

.app-radio.custom-control {
    cursor: pointer;

    .custom-control-label {
        font-size: 16px;
        line-height: 25px;
        vertical-align: middle;
        font-weight: 500;
        color: #888888;

        &:before {
            background-color: transparent;
            border-color: #888888;
        }

        &:after {
            background-image: none !important;
            background-color: $theme-base-color;
            height: 8px;
            width: 8px;
            top: 8px;
            border-radius: 50%;
            left: -20px;
            opacity: 0;
        }
    }

    .custom-control-input:checked~.custom-control-label {
        color: $theme-base-color;

        &::before {
            border-color: $theme-base-color;
        }

        &:after {
            opacity: 1;
        }
    }
}

.app-badge {
    min-width: 53px;
    height: 20px;
    background: #C5FFED;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding: 0 20px;
    display: inline-block;

    &.app-badge-success {
        background-color: #C5FFED;
        color: $theme-base-color;
    }

    &.app-badge-warning {
        background-color: #FFF5D9;
        color: #FEC011;
    }

    &.app-badge-danger {
        background-color: #FFE9E4;
        color: #FF3400;
    }
}

.payment-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.160784);

    .card-top {
        background-color: $theme-base-color;
        padding: 12px 20px;

        .text-info {
            align-items: flex-end;
        }

        .text-wrapper {
            color: #fff;

            span {
                font-size: 12px;
            }

            h4 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0px;
            }
        }
    }

    .card-bottom {
        background-color: #05AB78;
        padding: 12px 20px 8px;

        .text-wrapper {
            color: #fff;

            span {
                font-size: 12px;
            }

            h4 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 3px;
            }
        }
    }

    .card-row {
        @extend %display-flex;
        justify-content: space-between;
    }

}

.form-control:focus {
    border-color: #0a2753;
    box-shadow: 0 0 0 0.2rem rgba(10, 39, 83, 0.17);
}

.react-datepicker {
    font-family: 'Roboto', sans-serif;

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
        background-color: #05ab78;
    }

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
        background-color: #05ab78;

    }
}