@media(max-width: 1199px){
    .manage-connection-page{
        .text-wrapper{
            align-items: center;
            text-align: center;
        }
        .sidebanner-section{
            flex-wrap: wrap;
            .text-wrapper,
            .video-wrapper{
                min-width: 100%;
            }
            .text-wrapper{
                margin-bottom: 30px;
            }
        }
        .howitworks-section{
            padding: 50px 0px;
            .howitworks-container{
                flex-wrap: wrap;
                .text-wrapper,
                .img-wrapper{
                    min-width: 100%;
                    text-align: center;
                }
                .img-wrapper{
                    margin-bottom: 30px;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .billing-page{
        flex-wrap: wrap;
        .grid-section,
        .payment-section{
            max-width: none;
            min-width: 100%;
            padding-left: 0px;
        }
        .grid-section{
            margin-bottom: 30px;
        }
    } 
    .profile-page{
        .white-container{
            flex-wrap: wrap;
        }
        .user-information, .user-location{
            min-width: 100%;
            max-width: 100%;
        }
        .user-location{
            padding-left: 0px;
            padding-top: 25px;
        }
    } 
}
@media (max-width: 991px){
    .app-container{
        padding-top: 72px;
    }
    .sidenav {
        left: -100%;
        z-index: 1031;
        .closebtn {
            position: absolute;
            top: 4px;
            right: 5px;
            font-size: 20px;
            display: inline-block;
            background-color: unset !important;
            color: #000 !important;
            z-index: 1;
        }
        .sidebar-logo{
            img{
                width: 95px;
            }
        }
        &.sidenav-expanded{
            left: 0px;
          }
      }
      
      .navbar {
        left: 0;
        padding: 6px 15px;
        .side-btn {
            display: inline-block;
            width: 38px;
            font-size: 26px;
            color: #ffffff;
          }
          .side-btn{
              margin-right: auto;
          }
      }
      main {
        padding-left: 0px;
      }
      .app-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width : 767px){
    .header-search{
        width: 50vw;
        
        .form-control{
            padding-left: 17px;
            padding-right: 62px;
        }
        .search-icon{
            display: none;
        }
        .search-btn{
            width: 52px;
            span{
                display: none;
            }
            i{
                display: inline-block;
            }
        }
        
    }
    .notification{
        margin: 10px 3px !important;
    }
    .app-box.info-box{
        padding: 22px 22px;
        .left-box{
            padding-right: 30px;
        }
    }
    .manage-connection-page{
        .text-wrapper{
            h2{
                font-size: 25px;
                line-height: 33px;
                margin-bottom: 8px;
            }
            .btn-box .btn-wrapper{
                .step-count {
                    font-size: 25px;
                    padding-left: 19px;
                }
                .app-btn {
                    margin-top: -13px;
                }
            } 
        } 
        .howitworks-section{
            padding: 30px 0px;
            .howitworks-container{
                .text-wrapper{
                    h2{
                        font-size: 25px;
                        line-height: 33px;
                    }
                } 
                .img-wrapper{
                    img{
                        width: 200px;
                    }
                } 
            }
        } 
    } 
    .navbar{

        .dropdown-menu{
            font-size: 14px;
            line-height: 25px;
            transform: none !important;
        }
        .nav-item{
            .notification {
                .dropdown-menu{
                    right: -12px !important;
                    top: 20px !important;
                }
            }
            &.user-info{
                .dropdown-menu{
                    right: 8px !important;
                    top: 40px !important;
                }
            }
        }
    } 
    .billing-page .grid-section .action-row {
        flex-wrap: wrap;
        .left-box,
        .right-box{
            width: 100%;
            flex-wrap: wrap ;
        }
    }
    .setting-wrapper .setting-page{
        .nav-tabs{
            padding-left: 0px;
        }
    } 
}

@media (max-width: 575px){
    .app-btn.large-btn {
        font-size: 16px;
        border-radius: 15px;
        padding: 9px 20px;
    }
    .navbar {
        padding-right: 0px;
        .nav-link.dropdown-toggle{
            padding-right: 6px !important;
            padding-left: 10px !important;
        }
    }
    .app-box.info-box{
       flex-direction: column;
       align-items: center;
       text-align: center;
       .left-box{
           margin-bottom: 15px;
           padding-right: 0px;
       }
    }
    .app-model{
        .modal-header {
            padding: 18px 18px;
            height: 58px;
        }
        .modal-body{
            padding: 20px 18px 6px 18px;
        }
        .blue-title-h6{
            font-size: 20px;
        }
        .btn-box{
            flex-wrap: wrap;
            .app-btn{
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    .white-container{
        padding: 15px;
    }
    .manage-connection-page{
        .text-wrapper .btn-box{
            flex-wrap: wrap;
            .btn-wrapper {
                min-width: 100%;
                margin: 0 0 10px !important;
                .step-count {
                    padding-left: 0px;
                    text-align: center;
                }
                .app-btn{
                    width: 100%;
                }
            }
        } 
    }
    .billing-page{
        .grid-section{
            .action-row{
                flex-wrap: wrap;
                .form-group{
                    width: 100%;
                    margin-left: 0px !important ;
                    margin-right: 0px !important ;
                }
            } 
        }
    }
    .profile-page{

        .inner-container{
            .sec-header {
                padding: 0 20px !important;
            }
            .location-container{
                border-bottom: none !important;
                .location-info{
                    width: 100%;
                    border-bottom: 1px solid #E2E7FE ;
                    padding: 28px 20px 23px !important;
                }
                &:last-child{
                    .location-info:last-child{
                        border-bottom: none;
                    }
                }
            } 
        } 
    } 
    .setting-wrapper .setting-page{
        .btn-box{
            flex-wrap: wrap;
            .app-btn.large-btn{
                width: 100%; 
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }           
            }
        }
    } 
}

@media (max-width: 400px){
    .profile-page .inner-container .user-basic-info .info-row{
        flex-wrap: wrap;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
        span{
            min-width: 100%;
            margin-right: 0px;
            margin-bottom: 0px;
        }
    }
}