/*placeholders*/
.app-box.info-box, .app-btn.back-btn, .payment-card .card-row, .manage-connection-page .sidebanner-section, .billing-page, .profile-page .inner-container .sec-header, .profile-page .inner-container .user-basic-info .info-row, .profile-page .inner-container .location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group.app-ctrl .form-control, .app-table tbody td .action-btn, .app-table tbody td .action-btn svg, .manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button:hover, .manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button:focus {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.sidenav .icon-wrapper, .dropdown.user-info .dropdown-item .icon-wrapper {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*css mixin*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #fff;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border: 2px solid #707070;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f4f6;
  font-size: 12px;
}

.sidenav {
  height: 100%;
  width: 211px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.sidenav .icon-wrapper {
  margin-right: 20px;
  vertical-align: top;
  position: absolute;
  left: 35px;
  min-width: 15px;
  text-align: center;
}

.sidenav .sidebar-logo {
  background-color: #ffffff !important;
  padding: 1rem 0rem !important;
  text-align: center;
}

.sidenav a {
  padding: 14px 8px 13px 68px;
  text-decoration: none;
  font-size: 14px;
  color: #2f130d;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  position: relative;
}

.sidenav a:hover, .sidenav a.active {
  color: #ffffff;
  background-color: #21ce99;
}

.sidenav a:hover .sidebar-icon, .sidenav a.active .sidebar-icon {
  -webkit-filter: brightness(0) invert(1) !important;
          filter: brightness(0) invert(1) !important;
}

.sidenav a:hover .sub-icon, .sidenav a.active .sub-icon {
  -webkit-filter: invert(30%) sepia(82%) saturate(521%) hue-rotate(103deg) brightness(130%) contrast(64%);
          filter: invert(30%) sepia(82%) saturate(521%) hue-rotate(103deg) brightness(130%) contrast(64%);
}

.sidenav .closebtn {
  display: none;
}

.navbar-nav {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.navbar {
  background-color: #21ce99;
  padding: 12px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 211px;
  -webkit-box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 2px 8px 1px rgba(0, 0, 0, 0.15);
}

.navbar .nav-link {
  color: #ffffff !important;
  padding: 0px 18px !important;
}

.navbar .nav-link.dropdown-toggle {
  background: transparent;
  outline: none;
  border: none;
}

.navbar .nav-link.dropdown-toggle:after {
  vertical-align: middle;
}

.navbar .nav-link:focus, .navbar .nav-link:active {
  background-color: transparent;
  outline: none;
}

.navbar .btn-secondary:not(:disabled):not(.disabled):active,
.navbar .btn-secondary:not(:disabled):not(.disabled).active,
.navbar .show > .btn-secondary.dropdown-toggle,
.navbar .btn-group,
.navbar .btn-group:focus,
.navbar .btn-group:active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.navbar .dropdown-menu {
  left: auto;
  right: 0;
  position: absolute !important;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 31.31px;
  border: none;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.navbar .dropdown-menu .dropdown-item {
  padding: 9px 30px;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.navbar .dropdown-menu .dropdown-item img {
  position: absolute;
  height: 20px;
  width: auto;
  left: 10px;
  top: 17px;
}

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:active, .navbar .dropdown-menu .dropdown-item:focus {
  -webkit-text-decoration: bone;
          text-decoration: bone;
  background: #fff;
  color: #444444;
}

.navbar .dropdown-menu .dropdown-item.active {
  background: #fff;
  color: #444444;
}

.navbar .dropdown-toggle {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.navbar .dropdown-toggle:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f078";
  border: none;
}

.navbar .user-img {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  border: 2px solid #ffffff;
}

.navbar .notification-bell {
  font-size: 23px;
}

.navbar .side-btn {
  display: none;
  cursor: pointer;
}

.header-search {
  background-color: #ffffff;
  border-radius: 35px;
  width: 395px;
}

.header-search .form-control {
  background-color: #fff;
  border: 0px;
  border-radius: 30px !important;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 45px;
  width: 100%;
  position: relative;
  padding-left: 52px;
  line-height: 60px;
  padding-right: 122px;
  color: #303662;
  font-size: 14px;
}

.header-search .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}

.header-search .form-control::-webkit-input-placeholder {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: 400;
}

.header-search .form-control:-ms-input-placeholder {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: 400;
}

.header-search .form-control::-ms-input-placeholder {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: 400;
}

.header-search .form-control::placeholder {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: 400;
}

.header-search .search-img {
  position: absolute;
  left: 65px;
}

.header-search .btn {
  border-radius: 35px;
  height: 45px;
  width: 115px;
  font-size: 14px;
  color: #ffffff;
  border-top-left-radius: 0px;
  background-color: #2f130d !important;
  border-color: #2f130d !important;
  position: absolute;
  right: 0;
  z-index: 4;
}

.header-search .btn:focus, .header-search .btn:hover {
  background-color: #3d1c15 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-search .btn i {
  display: none;
}

.header-search .search-icon {
  position: absolute;
  left: 20px;
  top: 0;
  color: #A7A7A7;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 45px;
  z-index: 10;
}

.notification {
  color: #ffffff;
  display: inline;
  height: 25px;
  padding: 0px;
  margin: 0 15px !important;
  margin-top: 0px;
}

.notification i.fa.fa-circle {
  top: 0px;
  font-size: 12px;
  color: #040d14;
  right: 0px;
  z-index: 1;
}

.notification .dropdown-toggle {
  padding: 0px !important;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
}

.notification .dropdown-toggle:after {
  display: none;
}

.notification .nav-link {
  display: inline;
}

main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding-left: 211px;
}

.app-container {
  padding-left: 17px;
  padding-bottom: 40px;
  padding-top: 89px;
  width: 100%;
  padding-right: 38px;
}

.app-breadcrumb {
  padding-left: 2px;
}

.app-breadcrumb .breadcrumb, .app-breadcrumb .breadcrumb a {
  background: transparent;
  padding: 0;
  color: #707070;
}

.app-breadcrumb .breadcrumb {
  margin-bottom: 4px;
  font-size: 16px;
}

.app-breadcrumb .active {
  font-weight: 700;
}

.app-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.app-breadcrumb.req-mar {
  margin-bottom: 16px;
}

.header-note {
  font-size: 14px;
  color: #888888;
  margin-bottom: 15px;
}

.row.app-box-wrapper {
  margin-left: -4.5px;
  margin-right: -4.5px;
}

.row.app-box-wrapper .box-col {
  padding-left: 4.5px;
  padding-right: 4.5px;
}

.app-box {
  height: 210px;
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 9.9756px;
  position: relative;
  padding: 34px 26px;
  margin-bottom: 9px;
}

.app-box:hover {
  border-color: #21CE99;
}

.app-box .add-location {
  text-align: center;
}

.app-box .add-location span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #21CE99;
}

.app-box .app-switch.custom-switch {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.app-box .box-title {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 6px;
}

.app-box p {
  color: #888888;
}

.app-box .btn-box {
  text-align: center;
  margin-top: 50px;
}

.app-box .btn-box button, .app-box .btn-box a {
  min-width: 172px;
}

.app-box .logo-box {
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
  min-height: 78px;
}

.app-box .reload-btn {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 20px;
}

.app-box.info-box {
  height: auto;
  margin-bottom: 0px;
  padding: 22px 42px;
  border-color: #21CE99;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-box.info-box .left-box {
  padding-right: 115px;
}

.app-box.info-box .left-box .info-title {
  font-family: "DM Serif Display";
  font-size: 18px;
  color: #081F32;
}

.app-box.info-box .left-box p {
  margin-bottom: 0px;
}

.app-box.info-box .right-box .btn-box {
  text-align: center;
  margin-top: 10px;
}

.app-box.info-box .right-box .btn-box .app-btn {
  min-width: 129px;
}

.app-box.info-box .right-box .amt-info img {
  vertical-align: top;
  margin-right: 10px;
  margin-top: 3px;
}

.app-box.info-box .right-box .amt-info strong {
  display: inline-block;
  font-size: 18px;
  line-height: normal;
  margin-right: 10px;
  vertical-align: middle;
}

.app-box.info-box .right-box .amt-info span {
  font-size: 10px;
  color: #6E798C;
  vertical-align: middle;
  display: inline-block;
}

.add-btn-round {
  width: 42px;
  height: 42px;
  line-height: normal;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #21CE99;
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid transparent;
}

.add-btn-round i {
  line-height: 45px;
  font-size: 26px;
  color: #fff;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.add-btn-round:hover, .add-btn-round:focus, .add-btn-round:active {
  border: 1px solid #21CE99;
  background-color: transparent;
}

.add-btn-round:hover i, .add-btn-round:focus i, .add-btn-round:active i {
  color: #21CE99;
}

.app-switch.custom-switch {
  height: 26px;
  width: 52px;
}

.app-switch.custom-switch .custom-control-label:before {
  top: 0px;
  height: 26px;
  width: 52px;
  border-radius: 13px;
  border: none;
  background-color: #B7BCC7;
}

.app-switch.custom-switch .custom-control-label:after {
  height: 18px;
  width: 18px;
  background: #fff;
  top: 4px;
  left: calc(-2.25rem + 4px);
  -webkit-box-shadow: 1.30463px 1.30463px 3.26158px #99A1B2;
          box-shadow: 1.30463px 1.30463px 3.26158px #99A1B2;
}

.app-switch.custom-switch .custom-control-input:checked ~ .custom-control-label:after {
  -webkit-transform: translateX(24px);
  -khtml-transform: translateX(24px);
  transform: translateX(24px);
}

.app-switch.custom-switch .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #21CE99;
}

.app-btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 9.9756px;
  background-color: #21CE99;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid transparent;
}

.app-btn:hover, .app-btn:focus, .app-btn:active {
  border: 1px solid #21CE99;
  background-color: transparent;
  color: #21CE99;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app-btn.gray-btn {
  background-color: #707070;
}

.app-btn.gray-btn:hover, .app-btn.gray-btn:focus, .app-btn.gray-btn:active {
  border: 1px solid  #707070;
  background-color: transparent;
  color: #707070;
}

.app-btn.lightgray-btn {
  color: #888888;
  background-color: rgba(136, 136, 136, 0.129412);
}

.app-btn.lightgray-btn:hover, .app-btn.lightgray-btn:focus, .app-btn.lightgray-btn:active {
  border: 1px solid rgba(136, 136, 136, 0.129412);
  background-color: transparent;
  color: #a4a4a4;
}

.app-btn.small-btn {
  font-size: 11px;
  min-width: 129px;
  padding: 6px 15px;
  line-height: 17px;
}

.app-btn.large-btn {
  font-size: 18px;
  border-radius: 15px;
  padding: 14px 29px;
}

.app-btn.light-green-btn {
  background-color: #DEF8F0;
  color: #21CE99;
}

.app-btn.back-btn {
  border: 1px solid transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  border-color: transparent;
}

.app-btn.back-btn svg {
  fill: #21CE99;
  width: 8px;
  margin-right: 5px;
}

.app-btn-clear {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px;
  line-height: normal;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  width: auto;
}

.hippa-img-box {
  height: 100%;
  padding: 25px;
}

.app-model .blue-title-h6 {
  color: #040d14;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  display: inline-block;
  text-transform: capitalize;
}

.app-model .modal-content {
  border-radius: 14px !important;
}

.app-model .modal-header {
  padding: 28px 35px;
  height: 75px;
}

.app-model .modal-header .close {
  font-size: 36px;
  right: 56px;
  color: #040d14;
  opacity: 1;
  line-height: 17px;
}

.app-model .modal-header .close:focus {
  outline: none;
}

.app-model .modal-body {
  padding: 20px 36px 30px 36px;
}

.app-model .modal-body .gray-txt {
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.app-model .modal-body p {
  color: #040d14;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.app-model form .p-r-4 {
  padding-right: 4px;
}

.app-model form .p-l-4 {
  padding-left: 4px;
}

.app-model form .dropdown-toggle {
  border-radius: 29px;
  border: 2px solid #e7f0fd !important;
  font-size: 16px;
  padding: 12px 20px;
  height: 59px;
  margin-bottom: 13px;
  width: 100%;
  color: #888888 !important;
  background-color: #fff !important;
  text-align: start;
}

.app-model form .dropdown-toggle:after {
  display: inline-block;
  content: url(../images/arrow_down.svg) !important;
  height: 16px;
  width: 20px;
  float: right;
  border: none;
}

.app-model form .dropdown-toggle:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.app-model form .dropdown-toggle:active {
  background-color: #fff !important;
  color: #888888 !important;
  border: 2px solid #e7f0fd !important;
}

.app-model form .blue-btn-bg {
  margin-top: 25px;
}

.app-model .btn-box {
  padding: 10px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app-model .btn-box .app-btn {
  text-transform: uppercase;
  width: 50%;
  margin: 0 10px;
}

.app-model .form-group.app-ctrl label {
  color: #888888;
}

.app-model .form-group.app-ctrl .form-control {
  padding: 0px 0.5rem;
  padding-left: 0px;
  height: 30px;
}

.form-group.app-ctrl {
  margin-bottom: 23px;
}

.form-group.app-ctrl label {
  color: #21ce99;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}

.form-group.app-ctrl label.required:after {
  content: "*";
  color: red;
  margin-left: 3px;
}

.form-group.app-ctrl .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #d0d1d3;
  font-size: 18px;
  padding: 0.5rem;
  height: 40px;
  margin-bottom: 13px;
  text-align: start;
  width: 100%;
  color: #000;
  background-color: #fff;
  padding-left: 0;
}

.form-group.app-ctrl .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-color: #21CE99;
}

.form-group.app-ctrl.has-value label {
  color: #21CE99 !important;
}

.white-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 28px;
}

.section-header {
  font-size: 24px;
  font-weight: 700;
  color: #010000;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.section-header:before {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 4px solid #21CE99;
  position: absolute;
  z-index: 1;
  bottom: -13px;
  left: 0;
  right: 0;
  margin: auto;
}

.app-select {
  position: relative;
  min-width: 50px;
}

.app-select:before {
  content: "";
  position: absolute;
  padding: 3px;
  border-right: 1px solid #21CE99;
  border-bottom: 1px solid #21CE99;
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
  right: 11px;
}

.app-select select {
  height: 33px;
  line-height: 33px;
  padding: 0 32px 0 13px;
  font-size: 13px;
  color: #888888;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #EFF1FA;
}

.app-search {
  background-color: #ffffff;
  border-radius: 35px;
  min-width: 100px;
}

.app-search .form-control {
  background-color: #fff;
  border: 0px;
  border-radius: 15px 30px 30px 15px !important;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 31px;
  width: 100%;
  position: relative;
  padding-left: 42px;
  line-height: 31px;
  padding-right: 77px;
  color: #888888;
  font-size: 14px;
  border: 1px solid #EFF1FA;
}

.app-search .search-icon {
  position: absolute;
  left: 20px;
  top: 0;
  color: #A7A7A7;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 33px;
  z-index: 10;
}

.app-search .btn {
  border-radius: 10px;
  height: 31px;
  font-size: 14px;
  color: #ffffff;
  border-top-left-radius: 0px;
  background-color: #21CE99;
  border-color: #fff !important;
  position: absolute;
  right: 0;
  padding: 0 13px;
  z-index: 4;
}

.app-search .btn i {
  display: none;
}

.app-search .btn:hover, .app-search .btn:focus {
  background-color: #1bc792;
}

.app-table .table {
  margin-bottom: 0px;
}

.app-table thead {
  border-bottom: 1px solid #E2E7FE;
}

.app-table thead th {
  color: #888888;
  font-size: 13px;
  font-weight: 400;
  vertical-align: middle;
}

.app-table tbody td {
  vertical-align: middle;
  color: #000;
  font-size: 13px;
}

.app-table tbody td .action-btn {
  height: 17px;
  width: 17px;
  border: 1px solid rgba(136, 136, 136, 0.32);
  padding: 2px 0px;
  line-height: 17px;
  text-align: center;
  border-radius: 3px;
  color: #9b9b9b;
  margin-right: 15px;
}

.app-table tbody td .action-btn:last-child {
  margin-right: 0px;
}

.app-table tbody td .action-btn svg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.app-table tbody td .action-btn:hover {
  border-color: #21CE99;
  color: #21CE99;
}

.app-table tbody td .pay-btn {
  font-size: 13px;
  color: #21CE99;
}

.app-table tbody td .app-badge {
  background-color: transparent;
  padding: 0px;
  min-width: auto;
  text-align: left;
}

.app-checkbox {
  cursor: pointer;
}

.app-checkbox.custom-checkbox .custom-control-label::before {
  border-radius: 6px;
}

.app-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #21ce99;
  background-color: #21ce99;
}

.app-radio.custom-control {
  cursor: pointer;
}

.app-radio.custom-control .custom-control-label {
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  font-weight: 500;
  color: #888888;
}

.app-radio.custom-control .custom-control-label:before {
  background-color: transparent;
  border-color: #888888;
}

.app-radio.custom-control .custom-control-label:after {
  background-image: none !important;
  background-color: #21CE99;
  height: 8px;
  width: 8px;
  top: 8px;
  border-radius: 50%;
  left: -20px;
  opacity: 0;
}

.app-radio.custom-control .custom-control-input:checked ~ .custom-control-label {
  color: #21CE99;
}

.app-radio.custom-control .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #21CE99;
}

.app-radio.custom-control .custom-control-input:checked ~ .custom-control-label:after {
  opacity: 1;
}

.app-badge {
  min-width: 53px;
  height: 20px;
  background: #C5FFED;
  border-radius: 5px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 0 20px;
  display: inline-block;
}

.app-badge.app-badge-success {
  background-color: #C5FFED;
  color: #21CE99;
}

.app-badge.app-badge-warning {
  background-color: #FFF5D9;
  color: #FEC011;
}

.app-badge.app-badge-danger {
  background-color: #FFE9E4;
  color: #FF3400;
}

.payment-card {
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.160784);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.160784);
}

.payment-card .card-top {
  background-color: #21CE99;
  padding: 12px 20px;
}

.payment-card .card-top .text-info {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.payment-card .card-top .text-wrapper {
  color: #fff;
}

.payment-card .card-top .text-wrapper span {
  font-size: 12px;
}

.payment-card .card-top .text-wrapper h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}

.payment-card .card-bottom {
  background-color: #05AB78;
  padding: 12px 20px 8px;
}

.payment-card .card-bottom .text-wrapper {
  color: #fff;
}

.payment-card .card-bottom .text-wrapper span {
  font-size: 12px;
}

.payment-card .card-bottom .text-wrapper h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}

.payment-card .card-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-control:focus {
  border-color: rgba(33, 206, 153, 0.17);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(33, 206, 153, 0.17);
          box-shadow: 0 0 0 0.2rem rgba(33, 206, 153, 0.17);
}

.react-datepicker {
  font-family: 'Roboto', sans-serif;
}

.react-datepicker .react-datepicker__day--selected, .react-datepicker .react-datepicker__day--in-selecting-range, .react-datepicker .react-datepicker__day--in-range, .react-datepicker .react-datepicker__month-text--selected, .react-datepicker .react-datepicker__month-text--in-selecting-range, .react-datepicker .react-datepicker__month-text--in-range, .react-datepicker .react-datepicker__quarter-text--selected, .react-datepicker .react-datepicker__quarter-text--in-selecting-range, .react-datepicker .react-datepicker__quarter-text--in-range, .react-datepicker .react-datepicker__year-text--selected, .react-datepicker .react-datepicker__year-text--in-selecting-range, .react-datepicker .react-datepicker__year-text--in-range {
  background-color: #05ab78;
}

.react-datepicker .react-datepicker__day--keyboard-selected, .react-datepicker .react-datepicker__month-text--keyboard-selected, .react-datepicker .react-datepicker__quarter-text--keyboard-selected, .react-datepicker .react-datepicker__year-text--keyboard-selected {
  background-color: #05ab78;
}

.manage-connection-page .text-wrapper h2,
.manage-connection-page .text-wrapper p {
  max-width: 350px;
}

.manage-connection-page .text-wrapper h2 {
  font-size: 40px;
  color: #000;
  line-height: 62px;
  margin-bottom: 12px;
  font-weight: 700;
}

.manage-connection-page .text-wrapper p {
  font-size: 15px;
  color: #000;
  line-height: 25px;
}

.manage-connection-page .text-wrapper .btn-box .btn-wrapper .step-count {
  display: block;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  color: #B7BCC7;
  opacity: 0.30;
  padding-left: 19px;
}

.manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn {
  white-space: nowrap;
  margin-top: -16px;
  border-radius: 15px;
  padding: 11px 15px;
  min-width: 176px;
  position: relative;
  z-index: 1;
}

.manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn:hover, .manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn:focus, .manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn:active {
  background-color: #707070;
}

.manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn img,
.manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn span {
  vertical-align: middle;
}

.manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn img {
  margin-right: 8px;
}

.manage-connection-page .sidebanner-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage-connection-page .sidebanner-section .video-wrapper {
  border-radius: 15px;
  overflow: hidden;
  width: 53%;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react {
  max-height: 340px;
  min-height: 280px;
  width: 100%;
  padding-top: 54.42% !important;
  background-repeat: no-repeat;
  background-image: url(../images/side-banner1.png);
  background-size: cover;
  background-position: center;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react.video-react-paused .video-react-video {
  display: none;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react.video-react-playing {
  background-image: none;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react.video-react-playing .video-react-big-play-button {
  display: none !important;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button {
  display: inline-block !important;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -11px;
  width: 60px;
  height: 60px;
  background: #21CE99;
  border: none;
  font-size: 24px;
  padding: 0;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid transparent;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button:before {
  line-height: 61px;
  font-size: 1.8em;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button:hover, .manage-connection-page .sidebanner-section .video-wrapper .video-react-big-play-button:focus {
  border: 1px solid #21CE99;
  background-color: #fff;
  color: #21CE99;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-control-bar {
  position: static;
  display: none;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-control-bar .video-react-control:not(.video-react-play-control) {
  display: none;
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-control-bar .video-react-play-control {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -11px;
  width: 60px;
  height: 60px;
  background: red;
  font-size: 24px;
  padding: 0;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  transform: translateY(-50%);
}

.manage-connection-page .sidebanner-section .video-wrapper .video-react-control-bar .video-react-play-control:before {
  line-height: 61px;
  font-size: 1.8em;
}

.manage-connection-page .howitworks-section {
  padding: 80px 0px;
}

.manage-connection-page .howitworks-section .howitworks-container {
  max-width: 740px;
  margin: 0 auto;
}

.manage-connection-page .howitworks-section .text-wrapper h2 {
  font-size: 34px;
  line-height: 50px;
}

.billing-page .grid-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.billing-page .grid-section .action-row {
  padding-top: 16px;
}

.billing-page .grid-section .action-row .form-group {
  margin-right: 15px;
  margin-bottom: 10px;
}

.billing-page .grid-section .action-row .app-select {
  width: 135px;
}

.billing-page .grid-section .action-row .app-search {
  width: 230px;
}

.billing-page .payment-section {
  min-width: 343px;
  width: 343px;
  padding-left: 30px;
}

.billing-page .invoice-grid .chk-col {
  width: 40px;
}

.billing-page .invoice-grid td:not(.chk-col) {
  min-width: 125px;
}

.billing-page .payment-config-card {
  padding: 25px 18px;
}

.billing-page .payment-config-card .section-title {
  color: #010000;
  font-size: 15.961px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.billing-page .payment-config-card .app-radio {
  display: inline-block;
  margin-right: 15px;
}

.billing-page .payment-config-card .app-ctrl .form-control {
  height: 30px;
  font-weight: 500;
}

.billing-page .payment-config-card .app-ctrl.form-group {
  margin-bottom: 29px;
}

.billing-page .payment-config-card .form-group.app-ctrl label {
  font-size: 13px;
  color: #888888;
  font-weight: 400;
}

.billing-page .payment-config-card .cvv-input {
  position: relative;
}

.billing-page .payment-config-card .cvv-input .info-img {
  position: absolute;
  right: 0;
  top: 4px;
}

.billing-page .payment-config-card .btn-box {
  padding-top: 17px;
}

.billing-page .payment-config-card .btn-box .app-btn {
  font-size: 16px;
}

.billing-page .payment-config-card .react-datepicker__input-container,
.billing-page .payment-config-card .react-datepicker-wrapper {
  display: block;
}

.billing-page.paymentmethod-page .payment-config-card {
  padding: 28px 35px 28px 45px;
}

.billing-page.paymentmethod-page form {
  max-width: 310px;
}

.billing-page.paymentmethod-page .app-btn.save-btn {
  padding: 10px 26px;
}

.dropdown.user-info .dropdown-item {
  position: relative;
  padding: 3px 30px 3px 54px !important;
  font-size: 14px !important;
  color: #888888;
}

.dropdown.user-info .dropdown-item:hover {
  background-color: #F2F2F2;
  color: #21CE99;
}

.dropdown.user-info .dropdown-item:hover svg {
  fill: currentColor;
}

.dropdown.user-info .dropdown-item:hover svg path {
  fill: currentColor;
}

.dropdown.user-info .dropdown-item .icon-wrapper {
  width: 15px;
  position: absolute;
  left: 22px;
  text-align: center;
}

.dropdown.user-info .dropdown-item .icon-wrapper svg {
  width: 100%;
}

.profile-page .user-information {
  min-width: 326px;
  max-width: 326px;
}

.profile-page .user-location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

.profile-page .user-location .inner-container {
  min-height: 496px;
}

.profile-page .user-location .inner-container .sec-header {
  padding: 0 34px;
  margin-bottom: 0px;
}

.profile-page .inner-container {
  border-radius: 22px;
  border: 1px solid #E2E7FE;
  padding: 23px 20px;
}

.profile-page .inner-container .edit-btn svg {
  width: 16px;
}

.profile-page .inner-container .add-btn {
  font-size: 16px;
  color: #21CE99;
}

.profile-page .inner-container .sec-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.profile-page .inner-container .sec-header h4 {
  font-size: 16px;
  color: #000;
}

.profile-page .inner-container .user-img-wrapper {
  text-align: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #E2E7FE;
}

.profile-page .inner-container .user-img-wrapper .user-img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.profile-page .inner-container .user-img-wrapper .user-name {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile-page .inner-container .user-img-wrapper .user-prof {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0px;
}

.profile-page .inner-container .user-basic-info {
  padding-top: 22px;
}

.profile-page .inner-container .user-basic-info .info-row {
  color: #000;
}

.profile-page .inner-container .user-basic-info .info-row span,
.profile-page .inner-container .user-basic-info .info-row label {
  margin-bottom: 7px;
}

.profile-page .inner-container .user-basic-info .info-row span {
  min-width: 115px;
  font-size: 14px;
  font-weight: 300;
  margin-right: 28px;
}

.profile-page .inner-container .user-basic-info .info-row label {
  font-size: 14px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile-page .inner-container .location-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-page .inner-container .location-container.border-bottom {
  border-bottom-color: #E2E7FE;
}

.profile-page .inner-container .location-container.border-bottom.border-bottom {
  border-bottom-color: #E2E7FE !important;
}

.profile-page .inner-container .location-container.border-bottom.second-row .location-info {
  padding-top: 50px;
}

.profile-page .inner-container .location-container.border-bottom .location-info {
  width: 50%;
  padding: 30px 34px 48px;
  position: relative;
}

.profile-page .inner-container .location-container.border-bottom .location-info.active h4,
.profile-page .inner-container .location-container.border-bottom .location-info.active .contact-link {
  color: #21CE99;
}

.profile-page .inner-container .location-container.border-bottom .location-info:hover .edit-btn {
  display: block;
}

.profile-page .inner-container .location-container.border-bottom .location-info .edit-btn {
  position: absolute;
  right: 20px;
  top: 30px;
  display: none;
}

.profile-page .inner-container .location-container.border-bottom .location-info h4 {
  font-size: 16px;
  color: #A4A4A4;
  font-weight: 500;
}

.profile-page .inner-container .location-container.border-bottom .location-info h4 small {
  font-size: 12px;
  color: #888888 !important;
  font-weight: 400;
}

.profile-page .inner-container .location-container.border-bottom .location-info p {
  font-size: 13px;
  color: #888888;
  margin-bottom: 8px;
}

.profile-page .inner-container .location-container.border-bottom .location-info .contact-link {
  display: block;
  font-size: 13px;
  color: #A4A4A4;
  margin-bottom: 6px;
}

/*setting page scss started*/
.setting-wrapper .setting-page .nav-tabs .nav-link {
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #888888;
  position: relative;
}

.setting-wrapper .setting-page .nav-tabs .nav-link:active, .setting-wrapper .setting-page .nav-tabs .nav-link.active {
  color: #21ce99;
}

.setting-wrapper .setting-page .nav-tabs .nav-link:active::before, .setting-wrapper .setting-page .nav-tabs .nav-link.active::before {
  position: absolute;
  bottom: -1px;
  height: 3px;
  width: 100%;
  display: block;
  content: " ";
  left: 0;
  background-color: #21CE99;
}

.setting-wrapper .setting-page .tab-content {
  padding: 28px 0;
}

.setting-wrapper .setting-page .tab-content .account-tab .step-block {
  margin: 15px 0;
}

.setting-wrapper .setting-page .tab-content .password-tab label {
  color: #888888;
}

.setting-wrapper .setting-page .tab-content .css-yk16xz-control {
  border-bottom: 2px solid #d0d1d3 !important;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #d0d1d3;
  font-size: 18px;
  height: 40px;
  margin-bottom: 13px;
  text-align: start;
  width: 100%;
  color: #000;
  background-color: #fff;
  padding-left: 0;
}

.setting-wrapper .setting-page .tab-content .css-yk16xz-control .css-g1d714-ValueContainer {
  height: 100% !important;
  padding-left: 0 !important;
}

.setting-wrapper .setting-page .tab-content .css-1pahdxg-control {
  border-bottom: 2px solid #21CE99 !important;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #d0d1d3;
  font-size: 18px;
  height: 40px;
  margin-bottom: 13px;
  text-align: start;
  width: 100%;
  color: #000;
  background-color: #fff;
  padding-left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.setting-wrapper .setting-page .tab-content .css-1pahdxg-control .css-g1d714-ValueContainer {
  height: 100% !important;
  padding-left: 0 !important;
}

.setting-wrapper .setting-page .tab-content .css-1okebmr-indicatorSeparator {
  border-color: transparent !important;
  background-color: transparent !important;
}

.setting-wrapper .setting-page .tab-content .css-1gtu0rj-indicatorContainer {
  color: #21CE99 !important;
}

.location-profile-model .btn-box .app-btn {
  max-width: 156px;
  font-size: 16px;
  padding: 11px 18px;
}
/*# sourceMappingURL=style.css.map */